body {
    background-image: linear-gradient(to bottom right, rgb(15, 19, 20), rgb(148, 124, 174));
    font-family: "Comic Sans MS";
    font-size: 14px;
    height: 75vh;
    padding: 70px;
}

h1{
    color: white;
}

h4{
    color: silver;
}

a{
    display: block;
    width: 80%;
    font-weight: 700px;
    background-color: rgb(127, 206, 255);
    border-radius: 10px;
    padding: 5px 60px;
    margin: 5px auto;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

a:hover{
    background-color: transparent;
    border: 2px solid rgb(127, 206, 255);
    color: rgb(127, 206, 255);
}